- sensor:
    name: 'Batterie'
    object_id: '{{ sensor.identifier }}_battery'
    unique_id: '{{ sensor.identifier }}_battery'
    state_topic: '{{ sensor.state_topic }}'
    value_template: '{{ '{{' }} value_json.battery_state {{ '}}' }}'
    icon: 'mdi:battery'
    qos: 1
{% include "attribute/availability.jinja" %}