- sensor:
    name: 'Feuchtigkeit'
    unique_id: '{{ sensor.identifier }}_humidity'
    object_id: '{{ sensor.identifier }}_humidity'
    state_topic: '{{ sensor.state_topic }}'
    value_template: '{{ '{{' }} value_json.humidity {{ '}}' }}'
    device_class: 'humidity'
    unit_of_measurement: '%'
    qos: 1
{% include "attribute/availability.jinja" %}