    device:
        name: '{{ sensor.device_name }}'
        identifiers: '{{ sensor.identifier }}'
        manufacturer: '{{ sensor.manufacturer }}'
        model: '{{ sensor.model }}'
        serial_number: '{{ sensor.identifier }}'
        suggested_area: '{{ sensor.suggested_area }}'
