{% include "sensor/battery_percent.jinja" %}
{% include "attribute/device.jinja" %}

{% include "sensor/thermos_boost_heating.jinja" %}
{% include "attribute/device_ref.jinja" %}

{% include "sensor/thermos_window_detection.jinja" %}
{% include "attribute/device_ref.jinja" %}

{% include "sensor/thermos_pi_heating_demand.jinja" %}
{% include "attribute/device_ref.jinja" %}

{% include "sensor/thermos_climate.jinja" %}
{% include "attribute/device_ref.jinja" %}