
{% include "sensor/outletplug_state.jinja" %}
{% include "attribute/device.jinja" %}

{% include "sensor/outletplug_current.jinja" %}
{% include "attribute/device_ref.jinja" %}

{% include "sensor/outletplug_voltage.jinja" %}
{% include "attribute/device_ref.jinja" %}

{% include "sensor/outletplug_energy.jinja" %}
{% include "attribute/device_ref.jinja" %}

{% include "sensor/outletplug_power.jinja" %}
{% include "attribute/device_ref.jinja" %}