{% include "sensor/temperature.jinja" %}
{% include "attribute/device.jinja" %}

{% include "sensor/humidity.jinja" %}
{% include "attribute/device_ref.jinja" %}

{% include "sensor/battery_state.jinja" %}
{% include "attribute/device_ref.jinja" %}